
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Login</title>
  
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
            </div>
           @{
               string username;
               if (Session["UserProfile"] == null) 
               { 
                   username = null; 
               } else
               {
                   username = ((UserProfileObj)Session["UserProfile"]).Username;
               }
              
               if (username  != null){
                    ViewBag.UserName = username;
                   @Html.Partial("_LoggedInPartial");
               }
               else
               {
                   @Html.Partial("_NotLoggedInPartial");
                 
               }
            }
          
        </div>
     </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Health App Bitches</p>
        </footer>
    </div>

  
    @RenderSection("scripts", required: false)
</body>
</html>
