
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Login</title>

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">

            <!-- collapsable sidebar -->
            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 sidebar-offcanvas" id="sidebar" role="navigation">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </div>
            <!-- end collapsable sidebar -->
            <div class="container body-content col-lg-6 col-md-6 col-xs-6 col-sm-6">
                <!-- Check if user has session -->
                @{
                    string username;
                    if (Session["UserProfile"] == null)
                    {
                        username = null;
                    }
                    else
                    {
                        username = ((UserProfileObj)Session["UserProfile"]).Username;
                    }

                    if (username != null)
                    {
                        ViewBag.UserName = username;
                        @Html.Partial("_LoggedInPartial");
                    }
                    else
                    {
                        @Html.Partial("_NotLoggedInPartial");

                    }
                    <!-- End check if user has session -->
                }
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
